
html, body {
    margin: 0; 
    padding: 0;
    height: 100%; 
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background: url('public/img/bg1.svg')no-repeat center fixed; 
    background-size: cover;
    background-color: #fff300;
    overflow-x: hidden; 
    scroll-behavior: smooth;
}
.frame {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
    min-height: 100%;

}

.frame .yellowbg {
    height: 100vw;
    top: 0;
    background-color: #fff611;
    overflow: hidden;
    position: relative;
    display: flex;
    width: 100vw;
    left: 0;
    border: 5px solid;
    border-color: #000000;
    box-sizing: border-box;



}

.frame .rectangle1 {
    position: relative;
    width: 100%;
    padding-top: 5vw;
    padding-bottom: 5vw;
    justify-content: center;
    /* top: 100vw; */
    background-color: #ffffff;
    border: 10px solid;
    border-color: #000000;
    margin-bottom: 10%;
    box-sizing: border-box;
    
}
    

.frame .rectangle2 {
    position: flex;
    justify-content: center;
    width: 85%;
    height: auto;
    padding-top: 5vw;
    padding-bottom: 5vw;
    top: 20vh;
    background-color: #fff300;
    border: 10px solid;
    border-color: #000000;
    margin: 0 auto;
    margin-bottom: 20px;
}

.frame .rectangle3 {
    position: relative;
    width: 85%;
    height: auto;
    padding-top: 5vw;
  top: 20vh;
    background-color: #ffffff;
    border: 10px solid;
    border-color: #000000;
    margin-bottom: 10%;
    margin: 0 auto;
    padding-bottom: 40px;
    
}


.frame .title{
    position: absolute;
    display: inline;
    left: 33%;
    justify-content: center;
    width: 40%;
    height: auto;
    top:3%;
    background-blend-mode: darken;
}





.frame .About {
    position: absolute;
    top: 18vw;
    left:20%;
    font-family: "Mansalva", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    z-index: 30;
    
}
@media screen and (max-width: 1100px) {
    .frame .About {
        font-size: 40px;
    }
}




.frame .Bio {
    position: absolute;
    top: 18vw;
    left: 38%;
    font-family: "Mansalva", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    z-index: 30;
}

@media screen and (max-width: 1100px) {
    .frame .Bio {
        font-size: 40px;
    }
}



.frame .Works {
    position: absolute;
    top: 18vw;
    left: 48%;
    font-family: "Mansalva", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    z-index: 30;
}
@media screen and (max-width: 1100px) {
    .frame .Works {
        font-size: 40px;
    }
}


.frame .Contact {
    position: absolute;
    top: 18vw;
    left: 65%;
    font-family: "Mansalva", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    z-index: 30;
}
@media screen and (max-width: 1100px) {
    .frame .Contact {
        font-size: 40px; 
    }
}
@media screen and (max-width: 700px) {
    .frame .About {
        font-size: 5vw; 
    }
    .frame .Bio {
        font-size: 5vw; 
    }
    .frame .Works {
        font-size: 5vw; 
    }
    .frame .Contact {
        font-size: 5vw; 
    }
}


.frame .keithhome{
    position: relative;
    top:18%;
    width:100%;
    height: auto;
    
    object-fit: contain;
    
    display: flex;
    justify-content: center;
    /*border: 10px solid #000;*/
}



.frame .pattern1 {
    position: absolute;
    width: 40%;
    height: auto;
    top: 3vh;
    right: 2vw;
    background-blend-mode: multiply;
    animation: rotatePattern 5s infinite alternate;
    transform-origin: center;
}

@keyframes rotatePattern {
    0% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(30deg);
    }
}
.frame .pattern2 {
    position: absolute;
    width: 40%;
    height: 466px;
    top: 30%;
    left: 2vw;
    background-blend-mode: multiply;
    animation: rotatePattern 2s infinite alternate; 
    transform-origin: center;}
    @keyframes rotatePattern {
        0% {
            transform: rotate(-40deg);
        }
        100% {
            transform: rotate(0deg); 
        }
    }


    .rectangle1 .text1 {
position: relative;
    padding-top: 4vw;
    padding-left: 35%;
    font-size: 3vw;
    font-family: "Arvo", Helvetica;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
    z-index: 30;
}
@media screen and (min-width: 1200px) {
    .frame .text1 {
        font-size: 2vw;
    }
} 

.frame .keith-haring {
    position: relative;
    padding-top: 5%;
    padding-left: 5%;
    font-family: "Arvo", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14vw;
    letter-spacing: 0;
    line-height: normal;
}
@media screen and (min-width: 1200px) {
    .frame .keith-haring {
        font-size: 9vw;
    }
} 

.frame .About2 {
    position: relative;
    width: auto; 
    left:2vw; 
    font-family: "Arvo", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 13vw;
    letter-spacing: 0;
    line-height: normal;
    text-align: left; 
    padding-right: 40vw; 
    box-sizing: border-box; 
}

@media screen and (min-width: 1200px) {
    .frame .About2 {
        font-size: 8vw;
    }
} 

.rectangle2 .keith3{
    position: relative;
        width:85%;
        left:6vw;
        top: 17%;
        border: 5px solid #000;
        margin: 20px 0;
}


.rectangle2 .text2 {
    position: relative;
   
    width: 65%;
    top: -100px;
    left: 28vw;
    margin-top: 10px;
    padding-right: 5px;
    font-size: 3vw;
    font-family: "Arvo", Helvetica;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
       
}
@media screen and (min-width: 1300px) {
    .frame .text2 {
        top: -500px;
        font-size: 2vw;
    }
} 


.frame .boy {
    position: relative;
   
    width: 20%;
    left: 7%;
    height: auto;
    display: flex;
    border: 5px solid #000;
   
 }
 

 .picture {
    position: relative;
    top:10vh;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    padding-top: 0px;
    padding-bottom: 30vw;
    
}

.picture img {
    
    width: 150px;
    height: auto;
    margin: 10px;
    border: 5px solid #000;

}

.rectangle3 .About3 {
    display: flex;
    position: relative;
    width: 100%;
    top: 5vh;
    left: 10vw;
    font-family: "Arvo", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14vw;
    letter-spacing: 0;
    line-height: normal;
    padding-right: 40px;
    box-sizing: border-box;
    z-index: 30;
    
}
@media screen and (min-width: 1200px) {
    .frame .About3 {
        font-size: 9vw;
    }
} 

.frame .pattern2-1 {
    position: absolute;
    width: 50%;
    height: 466px;
    top: 3%;
    left: 60%;
    background-blend-mode: multiply;
    animation: rotatePattern 2s infinite alternate; 
    transform-origin: center;}
    @keyframes rotatePattern {
        0% {
            transform: rotate(-40deg); 
        }
        100% {
            transform: rotate(0deg); 
        }
    }
   
footer{
    position:relative;
    background-color:white;
    width: 100vw;
    height:auto;
    max-width: 100vw;
    top:20vh;
    
    
}

footer .footer1{
    position:relative;
font-family: "Mansalva", Helvetica;
font-weight: 400;
color: #000000;
padding-top: 9vh;
font-size: 4vw;
left: 40px;


}

footer .pattern1-2 {
    position:absolute;
    width: 20%;
    height: auto;
    top:25%;
    left: 75%;
}

.arrow{
    position:absolute;
    padding: 20px;
    width:5%;
    height:auto;
    bottom: 5px;
    right:0;
    z-index: 1;
}

.fa {
    
    position:relative;
    padding: 20px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    color:black;
  }
  
  .copyright{ 
    position: absolute;
    width: 100%;
    bottom:5px;
    left: 70vw;
    font-family: "Arvo", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 1.5vw;
    letter-spacing: 0;
    line-height: normal;
    padding-right: 40px;
    box-sizing: border-box;
    }